<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"> <!-- Ensure this matches your namespace -->

    <application
        android:allowBackup="true"
        android:label="PaySay"
        android:theme="@style/Theme.Payment">

        <!-- THE ACTIVITY MUST BE INSIDE HERE -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service 
            android:name=".NotificationService"
            android:label="PaySay Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

    <queries>
        <package android:name="com.f1soft.esewa" />
        <package android:name="com.khalti" />
        <package android:name="com.f1soft.fonepay.merchant" />
        <package android:name="com.f1soft.fonepay.user" />
        <package android:name="com.imepay.customer" />
    </queries>

</manifest>